h1 {
    font-size: 30px;
}

.top-menu button {
    margin-top: 2px;
    margin-left: 10px;
}

.characteristics {
    padding-top: 20px;
}

.skills>.col {
    padding-top: 50px;
}

.characteristic,
.skill {
    text-transform: capitalize;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
}

td.value {
    border-bottom: 1px dotted gray;
    text-align: center;
}

td>label {
    margin-bottom: 0;
}

.generator-settings {
    padding: 10px;
}

.generator-settings label {
    color: #fff;
    font-weight: bold;
    margin-right: 10px;
}