h1 {
    font-size: 30px;
}

.top-menu button {
    margin-top: 2px;
}

.value {
    text-transform: capitalize;
    padding-left: 10px;
}

.build {
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.npc-cards {
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

.npc-card {
    margin-top: 15px;
    margin-right: 10px;
    border: 1px solid black;
    padding-bottom: 5px;
    padding-top: 5px;
}

.setting-characteristic-points {
    margin-top: 2px;
    width: 70px;
}

.setting-skills-points {
    width: 80px;
    margin-top: 2px;
}