---
layout: default
permalink: /tools/character-generator.html
---

<html>
    <head>
        <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ '/assets/css/pages/chargen.css' | prepend: site.baseurl }}">
    </head>

    <body>
        <div class="container-fluid">
            <div>
                <div class="row bg-dark row-eq-height top-menu">
                    <div class="col-xs-12 col-md-8">
                        <h1 class="text-white">Rêve: the Dream Ouroboros - Character Generator</h1>
                    </div>

                    <div class="col-xs-12 col-md-4">
                        <button type="button" class="btn btn-success align-middle" onclick="javascript:generateCharacter();">Generate!</button>

                        <button type="button" class="btn lang-btn">Français</button>
                    </div>
                </div>

                <div class="row bg-secondary generator-settings">
                    <div class="col-xs-12 col-md-2">
                        <label>Characteristic Points:</label>
                        <div class="form-row">
                            <div class="col col-xs-12 col-md-5">
                                <input type="text" class="form-control setting-characteristic-points" value="160" />
                            </div>
                            <div class="col col-xs-12 col-md-3">
                                <label class="small max align-middle">Max.</label>
                            </div>
                            <div class="col col-xs-12 col-md-4">
                                <input type="text" class="form-control setting-max-characteristic-points" value="15" />
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-2">
                        <label>Skill Points:</label>
                        <div class="form-row">
                            <div class="col col-xs-12 col-md-5">
                                <input type="text" class="form-control setting-skill-points" value="3000" />
                            </div>
                            <div class="col col-xs-12 col-md-3">
                                <label class="small max align-middle">Max.</label>
                            </div>
                            <div class="col col-xs-12 col-md-4">
                                <input type="text" class="form-control setting-max-skill-points" value="+3" />
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-2">
                        <label>Build:</label>
                        <select class="custom-select setting-build">
                            <option value="none">None</option>
                            <option value="traveler">Traveler</option>
                            <option value="white-mage">White Mage</option>
                            <option value="thanatos-mage">Thanatos Mage</option>
                            <option value="mercenary">Mercenary</option>
                            <option value="assassin">Assassin</option>
                            <option value="warrior">Warrior</option>
                            <option value="scholar">Scholar</option>
                            <option value="healer">Healer</option>
                            <option value="street-artist">Street Artist</option>
                            <option value="sailor">Sailor</option>
                            <option value="merchant">Merchant</option>
                        </select>
                    </div>

                    <div class="col-xs-12 col-md-2">
                        <label>Location:</label>
                        <select class="custom-select setting-location">
                            <option value="random">Random</option>
                            <option value="city">City</option>
                            <option value="outdoor">Outdoor</option>
                            <option value="mountain">Mountain</option>
                            <option value="forest">Forest</option>
                            <option value="desert">Desert</option>
                            <option value="swamp">Swamp</option>
                            <option value="artic">Artic</option>
                            <option value="underground">Underground</option>
                            <option value="ocean">Ocean</option>
                        </select>
                    </div>

                    <div class="col-xs-12 col-md-2">
                        <label>Is High Dreamer?</label>
                        <select class="custom-select setting-high-dreamer">
                            <option value="random">Random</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>

                    <div class="col-xs-12 col-md-2">
                        <label>Genre:</label>
                        <select class="custom-select setting-genre">
                            <option value="fantasy">Fantasy</option>
                            <option value="contemporary">Contemporary</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row bg-light characteristics">
                <div class="col-xs-12 col-md-auto">
                    <table>
                        <tr>
                            <td class="characteristic">Name</td>
                            <td class="value" id="name"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Gender</td>
                            <td class="value" id="gender"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Age</td>
                            <td class="value" id="age"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Height</td>
                            <td class="value" id="height"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Beauty</td>
                            <td class="value" id="beauty"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Dreamer?</td>
                            <td class="value" id="high-dreamer"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Birth Hour</td>
                            <td class="value" id="birth-hour"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Handedness</td>
                            <td class="value" id="handedness"></td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-12 col-md-auto">
                    <table>
                        <tr>
                            <td class="characteristic">Size</td>
                            <td class="value" id="size"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Appearance</td>
                            <td class="value" id="appearance"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Constitution</td>
                            <td class="value" id="constitution"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Strength</td>
                            <td class="value" id="strength"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Agility</td>
                            <td class="value" id="agility"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Dexterity</td>
                            <td class="value" id="dexterity"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Sight</td>
                            <td class="value" id="sight"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Hearing</td>
                            <td class="value" id="hearing"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Smell-Taste</td>
                            <td class="value" id="smell-taste"></td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-12 col-md-auto">
                    <table>
                        <tr>
                            <td class="characteristic">Will</td>
                            <td class="value" id="will"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Intellect</td>
                            <td class="value" id="intellect"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Empathy</td>
                            <td class="value" id="empathy"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Dream</td>
                            <td class="value" id="dream"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Luck</td>
                            <td class="value" id="luck"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Melee</td>
                            <td class="value" id="melee"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Missile</td>
                            <td class="value" id="missile"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Throw</td>
                            <td class="value" id="throw"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Stealth</td>
                            <td class="value" id="stealth"></td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-12 col-md-auto">
                    <table>
                        <tr>
                            <td class="characteristic">Life</td>
                            <td class="value" id="life"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Endurance</td>
                            <td class="value" id="endurance"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Sustenance</td>
                            <td class="value" id="sustenance"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Encumbrance</td>
                            <td class="value" id="encumbrance"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">DM</td>
                            <td class="value" id="damage-modifier"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">CT</td>
                            <td class="value" id="constitution-threshold"></td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-12 col-md-4">
                    <img src="{{ '/assets/images/resolution-table.png' | prepend: site.baseurl }}" style="width:auto;max-height:320px;" />
                </div>
            </div>
            <div class="row bg-light skills">
                <div class="col col-xs-12 col-md-auto">
                    <h6>General (-4)</h6>
                    {% assign general_skills = "climbing,cooking,dance,discretion,drawing,jumping,running,seduction,singing,tinkering,vigilance" | split: "," %}
                    {% include tools/character-generator/skills-table.html skills=general_skills %}
                </div>
                <div class="col col-xs-12 col-md-auto">
                    <h6>Arts (-11)</h6>
                    {% assign arts_skills = "acrobatics,gaming,jewelrysmith,juggling,leatherwork,locksmithing,metalwork,navigation,surgery,swimming" | split: "," %}
                    {% include tools/character-generator/skills-table.html skills=arts_skills %}
                </div>
                <div class="col col-xs-12 col-md-auto">
                    <h6>Specialized Skills (-8)</h6>
                    {% assign specialized_skills = "acting,carpentry,commerce,disguise,masonry,music,pickpocket,riding,city survival,outdoor survival,artic,desert,forest,mountain,swamp,underground" | split: "," %}
                    {% include tools/character-generator/skills-table.html skills=specialized_skills %}
                </div>
                <div class="col col-xs-12 col-md-auto">
                    <h6>Sciences (-11)</h6>
                    {% assign science_skills = "alchemy,astrology,botany,legends,medicine,writing,zoology" | split: "," %}
                    {% include tools/character-generator/skills-table.html skills=science_skills %}
                </div>
                <div class="col col-xs-12 col-md-auto">
                    <h6>Draconics (-11)</h6>
                    {% assign draconic_skills = "oneiros,hypnos,narcos,thanatos" | split: "," %}
                    {% include tools/character-generator/skills-table.html skills=draconic_skills %}
                </div>
                <div class="col col-xs-12 col-md-auto">
                    <h6>Melee (-6)</h6>
                    {% assign melee_skills = "1-handed axe,2-handed axe,dagger,dodging,hand to hand,lance,1-handed mace,2-handed mace,shield,1-handed sword,2-handed sword" | split: "," %}
                    {% include tools/character-generator/skills-table.html skills=melee_skills %}
                </div>
                <div class="col col-xs-12 col-md-auto">
                    <h6>Missile &amp; Thrown (-8)</h6>
                    {% assign mt_skills = "bow,crossbow,knife,hand axe,javelin,lasso,whip" | split: "," %}
                    {% include tools/character-generator/skills-table.html skills=mt_skills %}
                </div>
                <div class="col col-xs-12 col-md-auto">
                    <h6>Spells</h6>
                    <table>
                        <thead>
                            <tr>
                                <td>Way</td>
                                <td>Spell</td>
                                <td>Dreamland</td>
                                <td>Diff.</td>
                                <td>d.</td>
                                <td>Cost</td>
                            </tr>
                        </thead>
                        <tbody id="spells-table">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script src="{{ '/assets/js/jquery-3.2.1.min.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/assets/js/bootstrap.bundle.min.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/assets/js/i18n/jquery.i18n.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/assets/js/i18n/jquery.i18n.messagestore.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/assets/js/rdd-js/chance.min.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/rdd-js/rdd-js.js'  | prepend: site.baseurl }}"></script>

        <script>
            /*
             * Adds the spell to the UI.
             */
            function displaySpell(spell) {
                var html = '';
                var table = $('#spells-table');

                if(!table) {
                    console.log("error: spells table is missing");
                    return;
                }

                if(spell.length != 6) {
                    console.log("error: the spell should be an array with 6 items");
                    return;
                }

                html += '<tr>'
                html += '<td>'+spell[0]+'</td>'
                html += '<td>'+spell[1]+'</td>'
                html += '<td>'+spell[2]+'</td>'
                html += '<td>'+spell[3]+'</td>'
                html += '<td>'+spell[4]+'</td>'
                html += '<td>'+spell[5]+'</td>'
                html += '</tr>'

                table.append(html);
            }

            /*
             *
             */
            function getSettings() {
                var settings = {};

                /*
                * Language Settings
                */
                settings['language'] = $('.lang-btn').text();

                if(settings['language'] == 'Français') {
                    settings['language'] = 'en';
                }
                else {
                    settings['language'] = 'fr';
                }

                /*
                * Generator Settings
                */
                settings['characteristic-points'] = $('.setting-characteristic-points').val();
                settings['max-characteristic-points'] = $('.setting-max-characteristic-points').val();
                settings['skill-points'] = $('.setting-skill-points').val();
                settings['build'] = $('.setting-build option:selected').val().toLowerCase();
                settings['location'] = $('.setting-location option:selected').val().toLowerCase();
                settings['high-dreamer'] = $('.setting-high-dreamer option:selected').val();
                settings['genre'] = $('.setting-genre option:selected').val().toLowerCase();

                if(settings['high-dreamer'] == "yes") {
                    settings['high-dreamer'] = true;
                }
                else {
                    settings['high-dreamer'] = false;
                }

                if(settings['build'] != 'none') {
                    settings['template'] = settings['build'];
                    console.log(settings['template'])
                }

                return settings;
            }

            function generateCharacter() {
                var rddjs = new RDDJS();
                var settings = getSettings();

                rddjs.setSettings(settings);
                character = rddjs.generateCharacter();
                
                /*
                 * Clear the UI from previous values
                 */
                $('#spells-table').empty();

                $.each(RDDJS.skills, function(key, value) {
                    difficulty = value[0];
                    $.each(value[1], function(index, skill) {
                        $("#exp-"+skill).text("  ");
                        $("#"+skill).text("  ");
                    });
                });

                /*
                 * Fill out the UI with the character's details.
                 */
                $.each(character["archetype"], function(key, value) {
                    $("#arch-"+key).text(value);
                });

                $.each(character["characteristics"], function(key, value) {
                    $("#"+key).text(value);
                });

                $.each(character["skills"], function(key, value){
                    $("#"+key).text(value);
                });

                $.each(['age', 'birth-hour', 'gender', 'handedness', 'name', 'high-dreamer'],
                    function(index, value) {
                        $("#"+value).text(character[value]);
                    });

                $.each(character["spells"], function(index, value) {
                    displaySpell(value);
                });
            }

            /*
             *
             */
            $(document).ready(function($) {
                generateCharacter();
            });
        </script>

        <script>
            $.i18n.debug = true;

            /*
             *
             */
            $(document).ready( function( $ ) {
                /*
                * Add the data-i18n tag to all the Characteristics
                */
                $('.characteristic').each(function(){
                    $(this).attr("data-i18n", 'characteristic-'+$(this).text().toLowerCase().replace(' ', '-'));
                });

                /*
                 *
                 */
                function applyLanguage() {
                    var settings = getSettings();
                    
                    $.i18n()
                    .load({{ "'/assets/js/rdd-js/lang/'+settings['language']+'-'+settings['genre']+'.json'" | prepend: site.baseurl }}, 
                        settings['language']+'-'+settings['genre']).done(function() {
                        $.i18n().locale = settings['language']+'-'+settings['genre'];
                        $('body').i18n();
                    });
                }

                /*
                 *
                 */
                $('.genre-select').on("change keyup", function() {
                    var settings = getSettings();
                    settings['genre'] = $(".genre-select option:selected").val();
                    applyLanguage();

                    var name = $('#name');

                    if(settings['genre'] == "contemporary") {
                        var gender = $('#gender').text();
                        name.text(generateContemporaryName(gender));
                    }
                    else {

                    }
                });

                /*
                 * Change the language between English and French
                 */
                $('.lang-btn').on('click', function() {
                    var settings = getSettings();

                    if(settings['language'] == 'en') {
                        $(this).text("English");
                        settings['language'] = 'fr';
                    } else {
                        $(this).text("Français");
                        settings['language'] = 'en';
                    }

                    applyLanguage();
                });

            });
        </script>
    </body>
</html>