---
layout: default
permalink: /
---

<html>
    <head>
        <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ '/assets/css/pages/chargen.css' | prepend: site.baseurl }}">
    </head>

    <body>
        <div class="container-fluid">
            <div class="row bg-dark row-eq-height top-menu">
                <div class="col-xs-12 col-md-9">
                    <h1 class="text-white">Rêve: the Dream Ouroboros - Character Generator</h1>
                </div>

                <div class="col-xs-12 col-md-3">
                    <button type="button" class="btn lang-btn">Français</button>
                    <button type="button" class="btn btn-success align-middle" onclick="javascript:generateCharacter();">Generate!</button>
                </div>
            </div>

            <div class="row bg-light characteristics">
                <div class="col-xs-12 col-md-auto">
                    <table>
                        <tr>
                            <td class="characteristic">Name</td>
                            <td class="value" id="name"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Gender</td>
                            <td class="value" id="gender"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Age</td>
                            <td class="value" id="age"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Height</td>
                            <td class="value" id="height"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Beauty</td>
                            <td class="value" id="beauty"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Dreamer?</td>
                            <td class="value" id="high-dreamer"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Birth Hour</td>
                            <td class="value" id="birth-hour"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Handedness</td>
                            <td class="value" id="handedness"></td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-12 col-md-auto">
                    <table>
                        <tr>
                            <td class="characteristic">Size</td>
                            <td class="value" id="size"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Appearance</td>
                            <td class="value" id="appearance"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Constitution</td>
                            <td class="value" id="constitution"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Strength</td>
                            <td class="value" id="strength"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Agility</td>
                            <td class="value" id="agility"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Dexterity</td>
                            <td class="value" id="dexterity"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Sight</td>
                            <td class="value" id="sight"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Hearing</td>
                            <td class="value" id="hearing"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Smell-Taste</td>
                            <td class="value" id="smell-taste"></td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-12 col-md-auto">
                    <table>
                        <tr>
                            <td class="characteristic">Will</td>
                            <td class="value" id="will"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Intellect</td>
                            <td class="value" id="intellect"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Empathy</td>
                            <td class="value" id="empathy"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Dream</td>
                            <td class="value" id="dream"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Luck</td>
                            <td class="value" id="luck"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Melee</td>
                            <td class="value" id="melee"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Missile</td>
                            <td class="value" id="missile"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Throw</td>
                            <td class="value" id="throw"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Stealth</td>
                            <td class="value" id="stealth"></td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-12 col-md-auto">
                    <table>
                        <tr>
                            <td class="characteristic">Life</td>
                            <td class="value" id="life"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Endurance</td>
                            <td class="value" id="endurance"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Sustenance</td>
                            <td class="value" id="sustenance"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">Encumbrance</td>
                            <td class="value" id="encumbrance"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">DM</td>
                            <td class="value" id="damage-modifier"></td>
                        </tr>
                        <tr>
                            <td class="characteristic">CT</td>
                            <td class="value" id="constitution-threshold"></td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-12 col-md-4">
                    <img src="{{ '/assets/images/resolution-table.png' | prepend: site.baseurl }}" width="100%" />
                </div>
            </div>
            <div class="row bg-light skills">
                <div class="col-xs-12 col-md-auto">
                    <h6>General (-4)</h6>
                    {% assign general_skills = "climbing,cooking,dance,discretion,drawing,jumping,running,seduction,singing,tinkering,vigilance" | split: "," %}
                    {% include chargen/skills-table.html skills=general_skills %}
                </div>
                <div class="col-xs-12 col-md-auto">
                    <h6>Arts (-11)</h6>
                    {% assign arts_skills = "acrobatics,gaming,jewelrysmith,juggling,leatherwork,locksmithing,metalwork,naviguation,surgery,swimming" | split: "," %}
                    {% include chargen/skills-table.html skills=arts_skills %}
                </div>
                <div class="col-xs-12 col-md-auto">
                    <h6>Specialized Skills (-8)</h6>
                    {% assign specialized_skills = "acting,carpentry,commerce,disguise,masonry,music,pickpocket,riding,city survival,outdoor survival" | split: "," %}
                    {% include chargen/skills-table.html skills=specialized_skills %}
                </div>
                <div class="col-xs-12 col-md-auto">
                    <h6>Sciences (-11)</h6>
                    {% assign science_skills = "alchemy,astrology,botany,legends,medicine,writing,zoology" | split: "," %}
                    {% include chargen/skills-table.html skills=science_skills %}
                </div>
                <div class="col-xs-12 col-md-auto">
                    <h6>Draconics (-11)</h6>
                    {% assign draconic_skills = "oneiros,hypnos,narcos,thanatos" | split: "," %}
                    {% include chargen/skills-table.html skills=draconic_skills %}
                </div>
                <div class="col-xs-12 col-md-auto">
                    <h6>Melee (-6)</h6>
                    {% assign melee_skills = "1-handed axe,2-handed axe,dagger,dodging,flail,hand to hand,lance,1-handed mace,2-handed mace,polearm,shield,1-handed sword,2-handed sword" | split: "," %}
                    {% include chargen/skills-table.html skills=melee_skills %}
                </div>
                <div class="col-xs-12 col-md-auto">
                    <h6>Missile &amp; Thrown (-8)</h6>
                    {% assign mt_skills = "blowgun,bow,crossbow,knife,hand axe,javelin,lasso,sling,whip" | split: "," %}
                    {% include chargen/skills-table.html skills=mt_skills %}
                </div>
            </div>
        </div>

        <script src="{{ '/assets/js/jquery-3.2.1.min.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/assets/js/bootstrap.bundle.min.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/assets/js/i18n/jquery.i18n.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/assets/js/i18n/jquery.i18n.messagestore.js' | prepend: site.baseurl }}"></script>

        <script src="{{ '/assets/js/chargen/i18n.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/assets/js/chargen/utils.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/assets/js/chargen/skills.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/assets/js/chargen/characteristics.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/assets/js/chargen/archetype.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/assets/js/chargen/chance.min.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/assets/js/chargen/fantasy-names.js' | prepend: site.baseurl }}"></script>

        <script>
            /*
             *
             */
            var settings = {
                'genre' : 'fantasy'
            }

            /*
             *
             */
            var skills = {
                "general" : [-4, ['{{ general_skills | join: "','" | replace: " ","-" }}']],
                "arts" : [-11, ['{{ arts_skills | join: "','" | replace: " ","-" }}']],
                "specialized" : [-8, ['{{ specialized_skills | join: "','" | replace: " ","-" }}']],
                "sciences" : [-11, ['{{ science_skills | join: "','" | replace: " ","-"  }}']],
                "draconic" : [-11, ['{{ draconic_skills | join: "','" | replace: " ","-"  }}']],
                "melee" : [-6, ['{{ melee_skills | join: "','" | replace: " ","-"  }}']],
                "mt" : [-8, ['{{ mt_skills | join: "','" | replace: " ","-"  }}']]
            }
        </script>

        <script src="{{ '/assets/js/chargen/chargen.js' | prepend: site.baseurl }}"></script>

        <script>
            window.onload = function() {
                generateCharacter();
            }
        </script>
    </body>
</html>