.adventure-overview {
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.card-header {
    text-transform: uppercase;
}

.card-body {
    padding: 5px !important;
}

.main-characters h2 {
    margin-top: 15px;
}

.npc-card {
    width: 100%;
    border: 1px dotted gray;
    margin: 10px;
}

#twists {
    margin-bottom: 0px;
}

.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 5px;
    border-bottom: 1px solid black;
    min-height: auto !important;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.gallery-container a {
    color: #fff;
}

.tz-gallery {
    padding: 5px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}